.about_section {
  background-color: black;
  display: flex;
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;
}
.about_columns {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin: 0 auto;
  justify-content: center;
}
.about_photo {
  width: 100%;
  margin-top: 30px;
  border-radius: 12px;
}

.about_column1 {
  width: 40%;
  position: relative;
  padding-right: 30px;
}
.about_column2 {
  width: 40%;
  color: aliceblue;
}
.about_logotype {
  width: 60px;
  position: absolute;
  top: 0;
  right: 0;
}
.about_title {
  margin-bottom: 30px;
  margin-top: 30px;
  font-size: 35px;
}
.about_column2 p {
  margin-bottom: 10px;
  font-size: 18px;
}
.about_elemnt {
  width: 300px;
  position: absolute;
  bottom: 0;
  right: 0;
  opacity: 0.5;
}
